<div class="form-row">
    <div class="form-group col required">
        <label for="batteriesSupplierName">Supplier Name</label>
         <select type="text" id="batteriesSupplierName" name="batteriesSupplierName" class="form-control" required="required">
             <option value ="" selected disabled>Choose One</option>
             {{#each values.supplier}}
                <option value="{{this.id}}">{{this.name}}</option>
             {{/each}}       
        </select>
    </div>
    <div class="form-group col required">
        <label for="batSpec">Battery Specs</label>
         <input list="batSpec" id="batterySpec" name="batSpec" class="form-control" required="required">
         <datalist id="batSpec">
            {{#each values.batteries.specs}}
                <option value="{{this}}"></option>
            {{/each}}
        </datalist>
    </div>
</div>
<div class="form-row ">
    <div class="for-group col required">
        <label for="quantityBatteries" >Quantity</label>
        <input type="number" placeholder = "0" id="quantityBatteries" name="quantityBatteries" class="form-control" required onchange="getUnitPrice('batteryBillPrice', 'quantityBatteries', 'batteryPrice', false); addBatterySerial();">
    </div>
    <div class="form-group col required">
        <label for="quantityMinBatteries">Minimum Quantity</label>
        <input type="number" placeholder = "0" id="quantityMinBatteries" name="quantityMinBatteries" class="form-control" required>
    </div>
</div>   
<div class="form-row">
     <div class="for-group col required">
        <label for="batteryBillPrice" >Total Price (VAT incl 5%)</label>
        <input type="number" placeholder = "0" id="batteryBillPrice" name="batteryBillPrice" class="form-control" step="0.01" required onchange="getUnitPrice('batteryBillPrice', 'quantityBatteries', 'batteryPrice', true)" required>
    </div>
    <div class="form-group col required">
        <label for="batteryPrice">Unit Price (VAT incl 5%)</label>
        <input type="number" placeholder = "0" id="batteryPrice" name="batteryPrice" class="form-control" step="0.01" required readonly>
    </div>
</div> 
<div class="form-row">
    <div class="for-group col ">
        <label for="quotation">Invoice Number</label>
        <input type="text" placeholder = "0" id="quotation" name="quotation" class="form-control">
    </div>
    <div class="form-group col">
        <label for="quotation">Select a File</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="upload" name="upload" accept="application/pdf, application/pdf">
            <label for="upload" class="custom-file-label">No File Choosen</label>
        </div>
    </div>
</div>
<div id="startSpot" name="startSpot">

</div>

