<!--
<div class="form-row">
    <div class="form-group col required">
        <label for="batSpec">Grease Specs</label>
         <input type="text" placeholder = "Grease Specs" id="batSpec" name="batSpec" class="form-control" required>
         <datalist id="productName">
            <option value="Pen">Pen</option>
            <option value="Pencil">Pencil</option>
            <option value="Paper">Paper</option>
        </datalist>
    </div>
</div>
-->
                    