<div class="form-row">
    <div class="form-group col">
        <label for="oilSpec">Oil Specs</label>
         <input list="oilSpec"  name="oilSpec" class="form-control">
         <datalist id="oilSpec">
            {{#each values.oil.specs}}
                <option value="{{this.oilSpec}}"></option>
            {{/each}}
        </datalist>
    </div>
    <div class="form-group col ">
        <label for="oilType">Oil Type</label>
         <input list="oilType" name="oilType" class="form-control" >
         <datalist id="oilType">
             {{#each values.oil.typeOfOils}}
                <option value="{{this.typeOfOil}}"></option>
            {{/each}}
        </datalist>
    </div>
</div>
<div class="form-row ">
    <div class="form-group col ">
        <label for="preferredOilBrand">Preferred Brand</label>
         <input list="preferredOilBrand" name="preferredOilBrand" class="form-control">
         <datalist id="preferredOilBrand">
             {{#each values.oil.preferredBrands}}
                <option value="{{this.preferredBrand}}"></option>
            {{/each}}
        </datalist>
    </div>
    <div class="for-group col ">
        <label for="oilPrice">Price</label>
        <input type="number" placeholder = "0" id="oilPrice" name="oilPrice" class="form-control">
    </div>
</div>
<div class="form-row">
    <div class="for-group col ">
        <label for="quantityOil">Quantity</label>
        <input type="number" placeholder = "0" id="quantityOil" name="quantityOil" class="form-control">
    </div>
    <div class="for-group col ">
        <label for="quantityMinOil">Minimum Quantity</label>
        <input type="number" placeholder = "0" id="quantityMinOil" name="quantityMinOil" class="form-control">
    </div>
</div>
    