<div class="section-content">
    <div class="form-row">
        <div class="form-group col">
            <label for="type">Category</label>
            <select type="text" placeholder = "Consumable Category" id="category" name="category" class="form-control" onChange="setPage()">
                <option value="" disabled selected>Choose One</option>
                <option value="battery">Battery</option>
                <option value="brake">Brake</option>
                <option value="filter">Filter</option>
                <option value="grease">Grease</option>
                <option value="oil">Oil</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col" id="eOrNSelect"> </div>
    </div>
    <div class="form-row">
        <div class="form-group col" id="addSection"></div>
    </div>
    
</div>