<div class="form-row">
     <div class="form-group col required">
        <label for="supplierList">Supplier</label>
        <input list="supplierList" placeholder="Choose One" id="supplierListName" name="supplierList" class="form-control" onchange="setSupplierName()"required>
        <datalist id="supplierList">
            {{#each consumableTable.supplier}}
                <option value="{{this.name}}" data-value="{{this.id}}"></option>
            {{/each}}  
        </datalist>
         <input type="text" id="receivedSupplier" name="receivedSupplier" class="form-control" hidden>
             
    </div>
    <div class="form-group col required">
        <label for="receiveMaterial">Material</label>
        <input type="text" id="receiveMaterial" name="receiveMaterial" class="form-control" required readonly>
    </div>
</div>
<div class="form-row">
     <div class="form-group col required">
        <label for="receivedQuantity">Quantity Received</label>
        <input type="number" id="receivedQuantity" name="receivedQuantity" class="form-control" onchange="getMaterialRequestUnitPrice(false)" required>
    </div>
    
     <div class="form-group col required">
        <label for="receivedPendingQuantity">Pending Quantity</label>
        <input type="number" id="receivedPendingQuantity" name="receivedPendingQuantity" class="form-control" readonly>
    </div>
    
</div>
<div class="form-row">
    <div class="form-group col required">
        <label for="receivedPrice">Total Price (VAT incl 5%)</label>
        <input type="text" id="receivedPrice" name="receivedPrice" class="form-control" onchange="getMaterialRequestUnitPrice(true)" required>     
    </div>
    <div class="form-group col required">
        <label for="unitPrice">Unit Price (VAT incl 5%)</label>
        <input type="number" id="unitPrice" name="unitPrice" class="form-control" required readonly>     
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <label for="receivedQuotation">Invoice Number</label>
        <input type="text" placeholder = "0" id="receivedQuotation" name="receivedQuotation" class="form-control">
    </div>
    <div class="form-group col">
        <label for="quotation">Select a File</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="upload" name="upload" accept="application/pdf, application/pdf">
            <label for="upload" class="custom-file-label">No File Choosen</label>
        </div>
    </div>
</div>
<button type="submit" id="updateItem" name="updateItem" class="btn btn-primary justfiy-content-end"><i class="far fa-save"></i> Confirm</button>




    