<nav
    id="sidebar"
    >
    <div id="accordion" class="sticky-top" style="padding-top: 10%; justify-content: space-between;"> 
     
        <div class="sidebar-header sticky-top" id="sidebarHeader" onclick="home()">
            <h3 class="font-effect-shadow-multiple">T.M.I.</h3>
        </div>
    
      <a
        id="headingJob"
        class="btn btn-link collapsed"
        data-toggle="collapse"
        data-parent="#accordion"
        data-target="#jobSubmenu"
        aria-expanded="false"
        aria-controle="jobSubmenu"
        role="button"
        >
        <i class="fas fa-tools fa-lg"></i>
        <span>Jobs</span>
      </a>
        <!-- Collapsed content -->
      <ul 
        id="jobSubmenu" 
        class="collapse" 
        aria-labelledby="headingJob" 
        data-parent="#accordion"
        >
        <li class="list-group-item py-1">
          <a href="/maintanence/create" id="createJob"><i class="fas fa-plus"></i>Create New Job Request</a>
        </li>
        <li class="list-group-item py-1">
          <a href="/maintanence"><i class="fab fa-buffer"></i>View Job Requests</a>
        </li>
      </ul>
      <a
        id="headingUser"
        class="btn btn-link collapsed"
        data-toggle="collapse"
        data-parent="#accordion"
        data-target="#userSubmenu"
        aria-expanded="false"
        aria-controls="userSubmenu"
        role="button"
        >
        <i class="fas fa-user fa-lg"></i>
        <span>Users</span>
      </a>       
        <!-- Collapsed content -->
      <ul 
        id="userSubmenu"
        class="collapse" 
        aria-labelledby="headingUser" 
        data-parent="#accordion"
        >
        <li class="list-group-item py-1">
            <a href="/users/create" id="createUser"><i class="fas fa-plus"></i> Create New User</a>
          </li>
          <li class="list-group-item py-1">
            <a href="/users"><i class="fab fa-buffer"></i> View All Users</a>
          </li>
      </ul>
        <!-- Collapse 2 -->
      <a
        id="headingVehicle"
        class="btn btn-link collapsed"
        data-toggle="collapse"
        data-parent="#accordion"
        data-target="#vehicleSubmenu"
        aria-expanded="false"
        aria-controle="vehicleSubmenu"
        role="button"
        >
        <i class="fas fa-truck-pickup fa-lg"></i>
        <span>Vehicles</span>
      </a>
      <ul
        id="vehicleSubmenu" 
        class="collapse"
        aria-labelledby="headingVehicle" 
        data-parent="#accordion" 
        >
        <li class="list-group-item py-1">
          <a href="/vehicles/add" id="addVehicle"><i class="fas fa-plus"></i> Add New Vehicle</a>
        </li>
        <li class="list-group-item py-1">
          <a href="/vehicles"><i class="fab fa-buffer"></i> View All Vehicles</a>
        </li>
      </ul>
      <a
        id="headingConsumable"
        class="btn btn-link collapsed"
        data-toggle="collapse"
        data-parent="#accordion"
        data-target="#consumablesSubmenu"
        aria-expanded="false"
        aria-controls="consumablesSubmenu"
        >
        <i class="fas fa-boxes fa-lg"></i>
        <span>Consumables</span>
      </a>
      <ul
        id="consumablesSubmenu"
        class="collapse"
        aria-labelledby="headingConsumable" 
        data-parent="#accordion"
        >
        <li class="list-group-item py-1">
          <a href="/consumables/add" id="addConsumable"><i class="fas fa-plus"></i> Add New Consumable</a>
        </li>
        <li class="list-group-item py-1">
          <a href="/consumables"><i class="fab fa-buffer"></i>View All Consumables</a>
        </li>
      </ul>
      <a
        id="headingSupplier"
         class="btn btn-link collapsed"
        data-toggle="collapse"
        data-parent="#accordion"
        data-target="#supplierSubmenu"
        aria-expanded="false"
        aria-controls="supplierSubmenu"
        role="button"
        >
        <i class="fas fa-store fa-lg"></i>
        <span>Suppliers</span>
      </a>
        <!-- Collapsed content -->
      <ul
        id="supplierSubmenu"
        class="collapse" 
        aria-labelledby="headingJob" 
        data-parent="#accordion"
        >
        <li class="list-group-item py-1">
          <a href="/suppliers/register" id="addSupplier"><i class="fas fa-plus"></i> Register New Supplier</a>
        </li>
        <li class="list-group-item py-1">
          <a href="/suppliers"><i class="fab fa-buffer"></i>View Suppliers</a>
        </li>
      </ul>
    </div>
  </nav>

  <script>
    function home(){
      window.location.href = "/"
    }
  </script>