<div class="col-md-12" onload="showAddPage()">
    <form action="{{action}}" method="POST" id="mainForm" enctype="multipart/form-data">
        {{!-- User Information --}}
        <div class="section-wrapper">
            <div class="section-title">
                <h4><i class="fas fa-gas-pump"></i> Consumable Information</h4>
                <hr class="my-3">
            </div>
            <div class="section-content">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="type">Category</label>
                        <select type="text" placeholder = "Consumable Category" id="category" name="category" class="form-control" onChange="setPage()">
                            <option value="" disabled selected>Choose One</option>
                            <option value="battery">Battery</option>
                            <option value="brake">Brake</option>
                            <option value="filter">Filter</option>
                            <option value="grease">Grease</option>
                            <option value="oil">Oil</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="section-content" id="addSection">
            </div>
             <button type="submit" id="submit" name="submit" class="btn btn-primary justfiy-content-end"><i class="far fa-save"></i> {{submitButtonText}}</button>
    </form>
</div>

<script>
    //document.onload=hideAddPage();
  
    function addType(){
        document.getElementById("mainForm").action = "/consumables/add/" + document.getElementById("category").value;
   
    }
    function setPage(){
        var category = document.getElementById("category");
        document.getElementById("addSection").innerHTML = "";
        console.log(category);
        if(category.value === "battery"){
            console.log("This");
            document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>addBatteries}}`);

        }else if(category.value === "brake"){
             document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>addBrakes}}`);

        }else if(category.value === "filter"){
             document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>addFilters}}`);
             
        }else if(category.value === "grease"){
             document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>addGrease}}`);
             
        }else if(category.value === "oil"){
             document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>addOil}}`);
             
        }else if(category.value === "other"){
            document.getElementById("addSection").insertAdjacentHTML("afterbegin",`{{>addOther}}`);
             
        }
    }
    function hideAddPage(){
        document.getElementById("brakenew").style.display ="none";
        document.getElementById("brakeexisting").style.display ="none";
        document.getElementById("batterynew").style.display ="none";
        document.getElementById("batteryexisting").style.display ="none";
        document.getElementById("filternew").style.display ="none";
        document.getElementById("filterexisting").style.display ="none";
        document.getElementById("oilnew").style.display ="none";
        document.getElementById("oilexisting").style.display ="none";
        document.getElementById("greasenew").style.display ="none";
        document.getElementById("greaseexisting").style.display ="none";
        document.getElementById("submit").style.display = "none";
    }
    function showAddPage() {
        var category = document.getElementById("category");
        var existing = document.getElementById("existing");
        var x = document.getElementById(category.value + existing.value);
        document.getElementById("brakenew").style.display ="none";
        document.getElementById("brakeexisting").style.display ="none";
        document.getElementById("batterynew").style.display ="none";
        document.getElementById("batteryexisting").style.display ="none";
        document.getElementById("filternew").style.display ="none";
        document.getElementById("filterexisting").style.display ="none";
        document.getElementById("oilnew").style.display ="none";
        document.getElementById("oilexisting").style.display ="none";
        document.getElementById("greasenew").style.display ="none";
        document.getElementById("greaseexisting").style.display ="none";
        if(category.value !== "" && existing.value !== ""){
            if (x.style.display === "none") {
                console.log(category.value + existing.value);
                x.style.display = "block";
            }
        }

        if(existing.value === "existing"){
           document.getElementById("submit").style.display = "none";
        }else if(category.value !== "" && existing.value !== ""){
            document.getElementById("submit").style.display = "block";
        }
        
    }

    $('#submit').click(function(e){
        let valid = true;
        $('[required]').each(function() {
            if ($(this).is(':invalid') || !$(this).val()) valid = false;
        })
        if(valid){
            document.getElementById("mainForm").action = "/consumables/add/" + document.getElementById("category").value;
            if(document.getElementById("category").value === "battery"){
                e.preventDefault();
                var firstReader = new FileReader();
                var reader = new FileReader();
                var invoiceFile = null, warantiyCardFile = null;
                var iFile = new Blob();
                var wFile = new Blob();
                if(document.getElementById('upload').files.length > 0){
                    iFile = document.getElementById('upload').files[0];
                }
                if(document.getElementById('warantiyCard').files.length > 0){
                    wFile = document.getElementById('warantiyCard').files[0];
                }
                firstReader.readAsDataURL(iFile);
                reader.readAsDataURL(wFile);
                firstReader.onloadend = function(){
                    reader.onloadend = function(){
                        if(document.getElementById('upload').files.length > 0){
                            invoiceFile = firstReader.result
                        }
                        if(document.getElementById('warantiyCard').files.length > 0){
                            warantiyCardFile = reader.result
                        }
                        $.ajax({
                            url: `/consumables/add/${document.getElementById("category").value}`,
                            type: 'POST',
                            data: {
                                "batSpec": document.getElementById('batterySpec').value,
                                "batteriesSupplierName": document.getElementById('batteriesSupplierName').value,
                                "quantityBatteries": document.getElementById('quantityBatteries').value,
                                "quantityMinBatteries": document.getElementById('quantityMinBatteries').value,
                                "batteryPrice": document.getElementById('batteryPrice').value,
                                "quotation": document.getElementById('quotation').value,
                                "invoiceFile": invoiceFile,
                                "serialNumber": document.getElementById('serialNumber').value,
                                "warantiyCard": warantiyCardFile
                            },
                            success: function(data) {
                                window.location.href = `/consumables/add/sucess/${document.getElementById('quantityBatteries').value}`;
                            },
                            error: function(err){
                                console.log('error happened:' + JSON.stringify(err));
                            }
                
                        })
                        
                    }
                
                }
            
            }

        } 
        
    })

    function getUnitPrice(bill,quantity,category){
        var x = document.getElementById(bill).value;
        var y = document.getElementById(quantity).value;
        document.getElementById(category).value =  parseFloat(x/y).toFixed(2);
    }

    function setVehicleInfo(category){
        console.log("In here");
        console.log(document.getElementById(`${category}PlateValue`).value)
        var categoryPlateValue = document.getElementById(`${category}PlateValue`).value
        var value2send = document.querySelector(`#${category}Plate option[value='${categoryPlateValue}']`).dataset.value;
        console.log(value2send)
        console.log(document.getElementById(`${category}PlateValue`).value)
        document.getElementById(`${category}Category`).value = value2send
        document.getElementById(`${category}CBrand`).value = value2send
        document.getElementById(`${category}CModel`).value = value2send
        document.getElementById(`${category}CYear`).value = value2send
        document.getElementById(`${category}Chassis`).value = value2send
        document.getElementById("realPlateValue").value = value2send
       //document.getElementById("hiddenPlate").value = document.getElementById("plate").value
       //console.log(document.getElementById("hiddenPlate").value)
      

    }
</script>