<div class="col-md-12">
    <form action="{{action}}" method="POST" id="mainForm" novalidate>
         <div class="table-buttons" id="table-buttons">
            <a href="/consumables/add" role="button" class="btn btn-outline-dark" id="create-new"><i class="fas fa-plus"></i>  Add New Consumables</a>
        </div>
        
        {{#if (isdefined typeOf "battery")}}
        {{>batteriesTable}}
        {{/if}}

        {{#if (isdefined typeOf "brake")}}
        {{>brakesTable}}
        {{/if}}

        {{#if (isdefined typeOf "filter")}}
        {{>filtersTable}}
        {{/if}}

        {{#if (isdefined typeOf "grease")}}
        {{>greaseTable}}
        {{/if}}

        {{#if (isdefined typeOf "oil")}}
        {{>oilTable}}
        {{/if}}
    </form>
</div>




